$color_bk: #d9d9d9;
$color_bk_login: #ffffff;
$color_btn: #a50034;
$color_link: #B0B0B0;

@use "sass:color";

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $color_bk;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color_bk;
}

// LOGIN BOX ESTILO RETANGULAR
.login-container {
    background-color: $color_bk_login;
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    object-fit: cover;
}

// FORMULÁRIO COM INPUTS NO ESTILO "UNDERLINE"
form {
    display: flex;
    flex-direction: column;

    .full-width{
        width: 100%;
        margin-bottom: auto;
    }
    
    .submit-login {
        margin-top: auto;
        padding: 0.75rem 1.2rem; 
        font-size: 1rem;
        background-color: $color_btn; 
        color: #fff;
        border-radius: 999px; // deixa o botão completamente oval
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: color.adjust($color_btn, $lightness: -6%);
        }
    }

    .forgot-password{
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: $color_link;
        text-decoration: none;
        align-self: center;

        &:hover {
            text-decoration: underline;
        }
    }

    .register-link {
        margin-top: 1rem;
        align-self: center;
        font-size: 1rem;
        color: $color_link;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

