<div class="page-wrapper">
    <mat-card class="login-container">
        <img src="assets/logo-login.png" alt="LG login" class="logo">
        <form (ngSubmit)="onLogin()" class="login-form">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>User</mat-label>
                <input matInput type="text" name="username" [(ngModel)]="username" placeholder="Ex. fulano.silva" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" name="password" [(ngModel)]="password" required />
                <button matIconButton matSuffix type="button" (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <a href="/forgot-password" class="forgot-password">Forgot Password?</a>
            <button mat-flat-button type="submit" class="submit-login">Login</button>
            <a href="/singup" class="register-link">Not registered? Register now</a>
        </form>
    </mat-card>

    <footer>
        <div class="footer-content">
            <img src="assets/logo-lgelectronics.png" alt="LG Electronics Logo" class="footer-logo">
            <img src="assets/dx_logo.svg" alt="DX Logo" class="footer-logo">
            <span class="footer-text">Copyright ⓒ2025 DX Academy</span>
        </div>
    </footer>
</div>