<app-navbar></app-navbar>
<div class="news-container">
  <div class="news-card" *ngIf="selectedNews">
    <div class="news">
      <div class="news-header">
        <button class="tag" (click)="goToTag(selectedNews.category)">
          {{ selectedNews.category }}
        </button>

        <h1 class="news-title">{{ selectedNews.title }}</h1>

        <div class="news-meta">
          <span class="author">por {{selectedNews.author}}</span>
          <span class="date-time">{{ selectedNews.date }}</span>
          <span class="views">
            <img src="assets/view.svg" alt="views" class="view-icon" />
            {{ selectedNews.views | shortNumber }} 
          </span>
        </div>
      </div>

      <img [src]="selectedNews.imageUrl" alt="{{ selectedNews.title }}" class="news-image" />
      <div class="news-content">
        <p *ngFor="let paragraph of formattedparagraphs">
          {{ paragraph }}
        </p>
      </div>
    </div>

    <div class="footer-line"></div>

    <div class="news-footer">
      <div class="footer-actions">
        <div class="rating">
          <span
            *ngFor="let star of [1,2,3,4,5]"
            class="star"
            [class.filled]="star <= rating"
            (click)="setRating(star)">
          </span>
          <span class="rating-count">{{ rating }} estrela{{ rating !== 1 ? 's' : '' }}</span>
        </div>

        <button class="share-button" (click)="shareNews()">
          <img src="assets/share.svg" alt="Compartilhar">
        </button>
      </div>
    </div>

    <div class="related-news">
      <h2>Notícias Relacionadas</h2>
      <div class="related-list">
        <div class="related-item" *ngFor="let news of relatedNews(selectedNews)">
          <img [src]="news.imageUrl" alt="{{ news.title }}" class="related-image" />
          <h3 class="related-title">{{ news.title }}</h3>
          <button class="related-button" (click)="goToNews(news.id)">Ver mais</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!selectedNews">
    <p style="text-align: center; margin-top: 2rem;">Notícia não encontrada.</p>
  </div>
</div>
