<div class="page-wrapper">
    <mat-card class="forgot-password-container"> 
        <img src="assets/logo-login.png" alt="logo" class="logo">
        <form [formGroup]="form" (ngSubmit)="onNewPassword()" class="forgot-password-form">
    
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="pat@example.com" />
                <mat-error *ngIf="errorMessage()">{{ errorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Create New Password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
                <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility('password', $event)">
                <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="passwordError()">{{ passwordError() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideConfirmPassword() ? 'password' : 'text'" formControlName="confirmPassword" />
                <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility('confirm', $event)">
                    <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-flat-button type="submit" class="submit">Change Password</button> 

        </form>
    </mat-card>
</div>