@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    density: 0
  ));
}

/* Reset global para remover margens, padding e definir box-sizing */
html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


